@tailwind base;
@tailwind components;
@tailwind utilities;


.fast{
    animation: fast 2s ease-in-out;
}
    @keyframes fast {
        0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      }
      50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
    }
    


.teste{
    animation: bounce 2s ease-in-out;
    
        @keyframes bounce {
        0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      };
      50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      };
    };
    };


.align_text_full{
    @apply flex justify-center items-center
}

.align_div_full{
    display: 'flex';
    justify-content: center;
    align-items: center;
    height: screen;
    width: screen;

}

.logo{
    image-ur: 'https://upload.wikimedia.org/wikipedia/commons/1/1e/Download-Icon.png'
}

.box_password{
    @apply rounded-lg shadow-sm border border-slate-200 bg-white p-1 w-12 h-12 m-1 appearance-none text-center font-light text-2xl 
    hover:shadow-md  focus:ring-sky-500 focus:ring-1 focus:outline-none uppercase
}

.box_password_invalid{
    @apply rounded-lg shadow-sm border border-red-500 bg-white p-1 w-12 h-12 m-1 appearance-none text-center font-light text-2xl 
    hover:shadow-md  focus:ring-red-500 focus:ring-1 focus:outline-none uppercase
}

